@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Pangolin&display=swap');
header {
	width: 947px;
	height: 80px;
	margin: 0 auto;
	font-size: 48px;
	line-height: 84px;
	border: 3px solid black;
	font-family: 'Pacifico', cursive;
}
aside {}
main {
	border: 2px solid black;
	margin: 0 auto;
	width: 1440px;
	height: 1024px;
	background: #FF9A03;
	
}
.block{
	margin-top:-200px;
}
div {}
section {
	

background: #FAF7F7;
}
article {}
p {
	font-family: 'Pangolin', cursive;
}
nav {
	position: absolute;
	width: 221px;
	height: 500px;
	margin-left: 1217px;
	margin-top: 104px;

	font-family: Pacifico;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 63px;
	
	background: rgba(250, 247, 247, 0.72);


}
ul {}
footer {
	position: absolute;
	width: 1196px;
	height: 84px;
	margin-left: 122px;
	border: 3px solid black;
	left: 300px;
	

}


.us {
	
}
.news {
	position: absolute;
	width: 223px;
	height: 719px;
	margin-left: 0px;
	margin-top: 197px;

	font-size: 24px;
	line-height: 30px;
	
	background: rgba(250, 247, 247, 0.72);
}

}


.logo {
	position: absolute;
	width: 223px;
	height: 197px;
	left: 0px;
	top: 200px;







}
h3 {
	font-family: 'Pacifico', cursive;
}
h2 {
	font-family: 'Pacifico', cursive;
}

.s1{
		position: absolute;
	width: 947px;
	height: 80px;
	left: 450px;
	top: 125px;

	font-family: Pacifico;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 84px;

	background: #FAF7F7;
	font-family: 'Pacifico', cursive;
	font-size: 15px;
	

}

.s2 {
	position: absolute;
	width: 947px;
	height: 80px;
	left: 450px;
	top: 1000px;

	background: #FAF7F7;

}
.w1 {
	position: absolute;
	width: 345px;
	height: 181px;
	left: 450px;
	top: 209px;
}

.w2 {
	position: absolute;
	width: 345px;
	height: 181px;
	left: 450px;
	top: 417px;
}

.w3 {
	position: absolute;
	width: 345px;
	height: 181px;
	left: 450px;
	top: 629px;
}

.w4 {
	position: absolute;
	width: 222px;
	height: 606px;
	left: 825px;
	top: 209px;
}

.w5 {
	position: absolute;
	width: 345px;
	height: 181px;
	left: 1075px;
	top: 209px;
}
.w6 {
	position: absolute;
	width: 345px;
	height: 181px;
	left: 1075px;
	top: 417px;
}
.w7 {
	position: absolute;
	width: 345px;
	height: 181px;
	left: 1075px;
	top: 629px;
}
	
.search {
	position: absolute;
	background: rgba(250, 247, 247, 0.95);
	width: 214px;
	height: 84px;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	margin: 0 auto;

	
	
	
	left: 1450px;

}

